<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/login.css">
  <link rel="stylesheet" href="/folder.css">
  <link rel="stylesheet" href="/index.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Moo+Lah+Lah&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <title><%= folder.folder_name %></title>
</head>
<body>
  <%- include("partials/header.ejs") %>
  <% if (locals.user) {%>
    <h2><%= folder.folder_name %></h2>
    <div class="files">
      <%- include("partials/files.ejs") %>
      <div class="fileContainer">
        <div class="uploadFile">
          <form action="/<%= folder.folder_name %>/file-upload" method="post" enctype="multipart/form-data" class="fileUploadForm">
            <input type="file" name="file" />
            <button type="submit">+</button>
          </form>
          <%- include("partials/errors.ejs") %>
        </div>
      </div>
    </div>

  <% } else { %>
    <%- include("partials/log-in.ejs") %>
  <%}%>
</body>
</html>
