<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Moo+Lah+Lah&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <title>Homepage</title>
</head>
<body>
  <%- include("partials/header.ejs") %>
  
  <% if (locals.user) {%>
    <h2><%= user.first_name %>'s Folders</h2>
    <%- include("partials/folders.ejs") %>
    
    <a class="addFolderLink" href="/add-folder">
      <img class="plusImage" src="/images/icons8-plus-50.png" alt="plus-in-a-circle"> 
      <div>Add a folder</div>
    </a>
    <% if (folder_upload == true) {%>
      <%- include("partials/add-folder.ejs") %>
    <%}%>

  <% } else { %>
    <%- include("partials/log-in.ejs") %>
  <%}%>
</body>
</html>
